# Directories
L3gion/vendor/VulkanSDK/Bin
L3gion/vendor/VulkanSDK/Bin32
L3gion/vendor/VulkanSDK/Lib
L3gion/vendor/VulkanSDK/Lib32
L3gion/vendor/VulkanSDK/VulkanSDK.exe
L3gion_Editor/assets/cache
scripts/__pycache__
.vs/
bin/
bin_int/
bin
CMake

# Hazel files
*.log

# Files
*.user
*.obj
