[submodule "L3gion/vendor/spdlog"]
	path = L3gion/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "L3gion/vendor/GLFW"]
	path = L3gion/vendor/GLFW
	url = https://github.com/Cunha-Renato/glfw
