[submodule "L3gion/vendor/spdlog"]
	path = L3gion/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "L3gion/vendor/glm"]
	path = L3gion/vendor/glm
	url = https://github.com/Cunha-Renato/glm
[submodule "L3gion/vendor/ImGui"]
	path = L3gion/vendor/ImGui
	url = https://github.com/Cunha-Renato/imgui
[submodule "L3gion/vendor/GLFW"]
	path = L3gion/vendor/GLFW
	url = https://github.com/Cunha-Renato/glfw
[submodule "L3gion/vendor/yaml_cpp"]
	path = L3gion/vendor/yaml_cpp
	url = https://github.com/Cunha-Renato/yaml-cpp
[submodule "L3gion/vendor/ImGuizmo"]
	path = L3gion/vendor/ImGuizmo
	url = https://github.com/Cunha-Renato/ImGuizmo
